html{
}
body {
   font-family: Verdana;
   margin: 0 auto;
   padding: 10px 0;
}

.noWrap{
   white-space: nowrap;
   display: inline-block;
}

.cardInput, .fuseSimBtn {
   margin: 5px auto;
}

header, h2 {
   text-align: center;
}

h2, h1 {
   font-family: Cambria;
   margin: 0 auto;
}

a:link {
   color: #4680db;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
   cursor: pointer;
}

a:visited {
   color: #4680db;
}

* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font: 18px Verdana;
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
}

.autocomplete {
   /*the container must be positioned relative:*/
   position: relative;
   display: inline-block;
}

input {
   //border: 1px solid transparent;
   padding: 10px;
   font: 16px Verdana;
}

input[type=text] {
   border: 1px solid transparent;
   border-bottom: 1px solid;
   background-color: white;
   width: 100%;
   font-size: 12px;
   height: 25px;
   padding: 3px;
}

input[type=button], .fuseSimBtn {
   /* supported by Chrome and Opera */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   -webkit-appearance: none;
   background-color: #3457ac;
   color: #fff;
   cursor: pointer;
   padding: 10px;
   display: inline-block;
   font: 16px Verdana;
   user-select: none;
   border: none;
}

#fuseCardsBtn {
   background-color: DodgerBlue;
}

.resultSequence {
   text-align: center;
   margin: 10px auto;
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   background-color: ghostwhite;
   border: 1px lightgray solid;
}

.resultOrder {
   display: block;
   margin: 10px 0;
}

.fusionDetail {
   display: block;
   font-size: 13px;
   font-style: oblique;
}

.resultStats {
   display: block;
   font-size: 15px;
}

#errorSection {
   font-weight: bold;
}

hr{
   width: 60%;
}

.jumpAnch{
   white-space: nowrap;
}

footer{
   font-size: 10px;
   text-align: left;
}
